PORT=numero_puerto
NODE_ENV=development
DB_HOST=localhost
DB_PORT=numero_puerto_db
DB_NAME=mi_base_de_datos
DB_USER=postgres
DB_PASSWORD=mi-password-local
JWT_SECRET=desarrollo-local-no-importa
CORS_ORIGIN=direccion_web_origen_cors